* {
  user-select: none;
}
body {
    background-color: #1f2024;
    color: #c2c2c2;
    font-family: 'DM Mono', monospace;
    position: relative;
}
.description {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
h1 {
  font-size: 3rem;
  font-weight: 500;
}
p {
  font-size: 1.5rem;
}
#ik {
  font-weight: bold;
  color: white;
}
